<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      my project
   </title>
   <link rel = "stylesheet" href="/style.css">
  </head>
 <body>
  
    <main class="container">
        <h3> SignUp</h3> 
        <form method="GET" action="/data"> 
         User Name: <input type ="text" id = 'text1' name="name">
          <br><br>
          Email  :<input type ="email" id = 'text2' name="email"><br><br>
          Password  :<input type ="password" id = 'text1' name="password"><br><br>
            <button type="submit" id="text1">Creat Account </button>


        </form>
      

    </main>
 </body>
</html>